{% extends 'base.html' %}


{% block title %}About | MAGENTA{% endblock title %}


{% block body %}
<main>
    <section class="section-base">
        <div class="container">
            <div class="row row-fit-lg">
                <div class="col-lg-4">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim venia. Duis aute irure dolor in reprehenderite in voluptate velit esse cillum dolore eurtclo
                        mertiso mortaccio della troia fugiat nulla pariature artolo.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        Escolo ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempore dolor in reprehenderite in voluptate.
                        Utenim ad minim venia. Duis aute irure dolor in reprehenderite in voluptate velit esse cillum dolore eurtclo
                        mertiso mortaccio della troia fugiat nulla pariature minollo ratiro.
                    </p>
                </div>
                <div class="col-lg-4">
                    <ul class="slider light" data-options="arrows:false,nav:true">
                        <li>
                            <a class="img-box lightbox" href="http://via.placeholder.com/800x500">
                                <img src="http://via.placeholder.com/800x500" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="http://via.placeholder.com/800x500">
                                <img src="http://via.placeholder.com/800x500" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="http://via.placeholder.com/800x500">
                                <img src="http://via.placeholder.com/800x500" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="space" />
            <div class="title">
                <h2>Our mission and values</h2>
                <p>What we do</p>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quisolor in reprehenderite  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequate.
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="box-sign no-margin">
                        <img alt="sign" src="media/sign-dark.png">
                        <b>Albert Patterson</b>
                        <span>Founder &amp; CEO</span>
                    </div>
                </div>
            </div>
            <hr class="space" />
            <table class="table table-grid table-border align-left table-6-md">
                <tbody>
                    <tr>
                        <td>
                            <div class="counter counter-horizontal counter-icon">
                                <i class="im-globe text-md"></i>
                                <div>
                                    <h3>Countries</h3>
                                    <div class="value">
                                        <span class="text-md" data-to="47" data-speed="5000">47</span>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="counter counter-horizontal counter-icon">
                                <i class="im-business-man text-md"></i>
                                <div>
                                    <h3>Clients</h3>
                                    <div class="value">
                                        <span class="text-md" data-to="110" data-speed="5000">110</span>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="counter counter-horizontal counter-icon">
                                <i class=" im-charger text-md"></i>
                                <div>
                                    <h3>Projects</h3>
                                    <div class="value">
                                        <span class="text-md" data-to="250" data-speed="5000">250</span>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="counter counter-horizontal counter-icon">
                                <i class="im-support text-md"></i>
                                <div>
                                    <h3>Team members</h3>
                                    <div class="value">
                                        <span class="text-md" data-to="30" data-speed="5000">30</span>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>


{% endblock %}
